{% extends "base.html" %} {% load static %} {% block title %}الصفحة الرئيسية{% endblock %} {% block content %}
<div class="mb-5 mt-5">
  <div class="container">
    <h1 class="fw-bold mb-4">زوّار معرض صنع بيدي؛ أهلًا بكم في مسابقة "امسح واربح"</h1>

    <h5 class="fw-bold mb-5 mt-5">جاوب على السؤال بشكل صحيح لتدخل معنا في السحب على جائزة قيّمة: </h5>

    <div class="mb-3 mt-5">
      <form method="post" id="questions-form">
        {% csrf_token %}
        <div class="row row-cols-1">
          <div class="col mb-3">
            <label for="id_question1" class="form-label"
              ><span class="fw-bold">السؤال:</span> يهتم معرض "صنع بيدي" بشكل خاص في دعم:</label
            >
            <select
              name="question1"
              class="form-select"
              id="id_question1"
              required
            >
              <option value selected>---------</option>
              <option value="رواد الأعمال من فئة الطلاب والطالبات">رواد الأعمال الصغار من فئة الطلاب والطالبات</option>
              <option value="رواد الأعمال بشكل عام">رواد الأعمال بشكل عام</option>
            </select>
          </div>
        </div>
        
        <button type="submit" class="w-100 btn btn-lg btn-success mt-3" id="submit-answer-btn">إرسال الإجابة</button>
      </form>
    </div> <!-- form container end line -->

  </div> <!-- container end line -->

</div> <!-- container background end line -->
<script>
  document.getElementById('questions-form').addEventListener('submit', function(e) {
    e.preventDefault();

    const formData = new FormData(this);

    fetch('https://by-my-hands.site{% url 'home' %}', {
        method: 'POST',
        body: formData,
    })
    .then(response => response.json())
    .then(data => {
        if (data.redirect) {
          window.location.href = data.redirect;
        } else {
          // Handle other responses
        }
    })
    .catch((error) => {
        console.error('[Error] - ', error);
        // Handle error
    });
  });
</script>
{% endblock %}